# Font Awesome Pro package registry.
# Set FONTAWESOME_NPM_AUTH_TOKEN in your environment (do not commit tokens).
@fortawesome:registry=https://npm.fontawesome.com/
//npm.fontawesome.com/:_authToken=${FONTAWESOME_NPM_AUTH_TOKEN}
